.footer {
  position: relative;
  margin-bottom: 4rem;
  padding-right: 7rem;
}
  .footer__credit {
    color: #999;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

  .footer__credit a {
    color: var(--primary-color);
    text-decoration: none;
  }
  .footer__birb {
    width: 3rem;
    margin-top: 2rem;
  }

/* Footer nav */
.footer-nav {
}
  .breakpoint-phone .footer-nav {
    margin-bottom: 1rem;
  }

.footer-nav__list {
}

.footer-nav__list-item {
  display: inline-block;
  padding-right: 3rem;
  font-size: 1.3rem;
}

.footer-nav__list-item a {
  display: block;
  margin-bottom: 2rem;
}

.breakpoint-phone .footer-nav__list-item a {
  margin-bottom: 1rem;
}
