link rel="manifest" src="/manifest.json"
meta name="theme-color" content="#fff"
link rel="apple-touch-startup-image" href="/launch.png"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-status-bar-style" content="black-transparent"
