/* Navigation */

.nav {
  line-height: 3rem;
  padding: 1.5rem 1rem 1.5rem 0;
  text-align: center;
}
  .nav__room {
    padding-top: 6rem;
  }
  .breakpoint-phone .nav--header {
    display: none;
  }

  .nav--header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 5;
  }

  .nav__content {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
  .nav__item {
    display: inline;
    font-size: 1.6rem;
    padding-left: 1.5rem;
    margin-left: 1rem;
    text-decoration: none;
  }
  .nav__item--highlighted {
    font-weight: bold;
  }

  .nav__item a:hover {
    color: var(--primary-color-darker);
  }

  .nav--mobile {
    transform-origin: 0 0;
    transform: scale(0);
    transition: transform .2s;
    z-index: 1;
  }
  .nav--mobile.active {
    transform: scale(1);
  }

  .breakpoint-tablet .nav--mobile,
  .breakpoint-tablet .nav--mobile__show,
  .breakpoint-desktop-up .nav--mobile,
  .breakpoint-desktop-up .nav--mobile__show {
    display: none;
  }

  .breakpoint-phone .nav__room {
    padding-top: 4em;
  }

  .nav--mobile__show {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    top: 0;
    z-index: 6;
    padding: 2rem;
    font-size: 2rem;
    border-bottom: 1px solid #EEE;
    color: var(--text-color);
  }
  .nav--mobile__show:visited {
    color: var(--text-color);
  }
  .nav--mobile__show::before {
    content: '';
    background: url("./images/bg_menu.svg") 50% 0 no-repeat;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
  }

  .breakpoint-phone .nav--mobile .nav__content {
    background: var(--primary-contrast);
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 3rem;
    z-index: 5;
    text-align: left;
  }

  .breakpoint-phone .nav.nav--mobile {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
  }

  .nav--mobile .nav__item {
    font-size: 2rem;
    padding: 1rem 0rem;
    display: block;
    margin-left: 4rem;
    margin-right: 2rem;  }

  .nav--mobile .nav__item a {
    padding: 0.5rem;
    padding-left: 0;
    color: #FFF;
  }

  a.nav-offset__anchor {
    position: absolute;
    top: -12rem;
  }
  .nav-offset__container {
    position: relative;
  }
