/* Short list of speakers on the homepage */
.c-short-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.c-short-list__link {
  flex-basis: 20%;
}
.c-short-list__avatar {
  border-radius: 50%;
  padding: 0.5rem;
  width: 9rem;
  height: 9rem;
  margin: 1rem;
  transition: padding 0.5s ease;
}
.c-short-list__avatar:hover {
  padding: 0;
}
