---
title: Diversity Scholarship
---

section.h-lots-of-padding-top
  .body-inner-wrapper
    .body-inner-wrapper__section
      h1 🌻 Diversity Scholarship
      p We want to support people with different voices and ideas to attend Kiwi Ruby.
      p The Ruby community should reflect the diversity and vibrancy of New Zealand, and people from underrepresented backgrounds should have the opportunity to participate fully in our community.
      p The Diversity Scholarship is for people who would otherwise not be able to afford to make it to Kiwi Ruby, but would benefit from attending.

    .body-inner-wrapper__section
      h2 🙌 This sounds like me!
      p Anyone is welcome to apply, but we’ll give priority to people who are underrepresented in the Ruby community.

      p This could include (but is not limited to):
      ul
        li.square-list Women
        li.square-list Rainbow, takatāpui and LGBTI people
        li.square-list Māori, Pasifika, and other non-Pākehā people
        li.square-list Refugees and the children of refugees
        li.square-list People with a disability
        li.square-list People from regional areas of New Zealand

      p We’ll favour people who:
      ul
        li.square-list Have cost as a barrier to attendance
        li.square-list Would get some benefit out of attending Kiwi Ruby

    .body-inner-wrapper__section
      h2 🙋🏾 I'm interested!
      p We have 6 tickets to the conference available through this scholarship. We will accept applications up to Friday 22 September, and will notify applicants on their success by Monday 2 October.

      p Applications will be assessed anonymously and confidentially by a small panel. We won’t share or re-use any information about applicants.

      p <a href="https://goo.gl/forms/3ScYex0wEOUpsis42">Apply here!</a>
