---
title: Speakers
---

section.h-lots-of-padding-top
  .body-inner-wrapper__section
    h1 🌟 Speakers
    p We've got speakers from New Zealand and across the globe, and we've even coaxed a few wandering Kiwis back from across the oceans. 
    = partial "partials/speakers"
