/**
 * Rubyconf Variables
 */
:root {
--primary-color: #ef3f62;
--primary-color-darker: #e33558;
};



html {
  font-size: 62.5%;
}
.header {
  position: absolute;
  width: 100%;
  border: 1px red solid;

}
.nav ul li{
  display: inline;
}