/**
 * Rubyconf Variables
 */
:root {
  --font-body: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --font-logotype: "OleoSwash", Courier, monospace;
  --font-heading: "YoungSerif", Courier, monospace;
  --font-subheading: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --font-subtitle: "Source Code Pro", Courier, monospace;
  --primary-color-darker: #e33558;
  --primary-color: #FE3E62;
  --primary-grey: #c2c2c2;
  --primary-grey-darker: #666666;
  --text-color: #767F85;
  --primary-contrast: #07c199;
  --max-width: 85rem;
  --primary-contrast-darker: #03A280;
}
/**
 * Reset styles
 */
@import "./reset/index.css";

/**
 * Import Fonts
 */
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:400,600&subset=latin-ext");

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps&subset=latin-ext');

@font-face {
  font-family: YoungSerif;
  src: url("./fonts/YoungSerif-Regular.woff2");
}

@font-face {
  font-family: OleoSwash;
  src: url("./fonts/OleoScriptSwashCaps-Regular.woff2");
}

/* Importing css files */
@import "./font-awesome/index.css";
@import "./grid";
@import "./footer";

/**
 * Styling
 */

html {
  font-size: 62.5%;
}
.breakpoint-phone {
  font-size: 52.5%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 1;
  color: var(--text-color);
  font-family: var(--font-body);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* This spacer sits outside the container in the layout file for viewport padding */

.mw-spacer {
  padding-left: 4rem;
  padding-right: 4rem;
}

.breakpoint-phone .mw-spacer {
  padding-left: 2rem;
  padding-right: 2rem;
}

/*overall element widths*/

.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

/* Navigation */

.nav {
  line-height: 3rem;
  padding: 1.5rem 1rem 1.5rem 0;
  text-align: right;
}
  .nav__room {
    padding-top: 6rem;
  }
  .breakpoint-phone .nav--header {
    display: none;
  }

  .nav--header {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 5;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
  }

  .breakpoint-phone .nav__room {
    padding: 0;
  }

  .breakpoint-phone .nav__content {
    display: flex;
    flex-wrap: wrap;
  }

  .nav.nav--mobile,
  .breakpoint-tablet .nav--mobile__show,
  .breakpoint-desktop-up .nav--mobile__show {
    display: none;
  }

  .nav--mobile__show {
    padding: 6px;
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .breakpoint-phone .nav--mobile .nav__content {
    padding-bottom: 1em;
    background: white;
    box-shadow: rgba(167, 167, 167, 0.43) 0px 3px 8px;
    width: 100%;
    padding-top: 10px;
    z-index: 1;
  }

   .breakpoint-phone .nav.nav--mobile {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
  }

  .nav__content {
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: right;
  }
  .nav__item {
    color: var(--primary-color);
    display: inline;
    font-family: var(--font-subtitle);
    font-size: 1.6rem;
    padding-left: 4rem;
    text-decoration: none;
  }

/*header/nav*/
.header {
  width: 100%;
}
.hero {
  margin-top: 5rem;
  margin-bottom: 0;
  width: 80%;
}
  .hero__logo {
    display: block;
    width: 100%;
    max-width: 50rem;
    height: auto;
  }
  .hero__hidden {
    display: none;
  }
  .hero__slogan {
    color: var(--primary-color);
    display: block;
    font-family: var(--font-heading);
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 5rem;
    max-width: 70rem;
    margin-top: 0;
  }

  /* the new stacking context created by the transform */
  /* was giving me grief with the mobile nav */
  .breakpoint-phone .hero__date {
    transform: none;
  }
  .hero__date {
    font-family: var(--font-subheading);
    text-transform: uppercase;
    transform:scale(.9,.9); /* W3C */
    -webkit-transform:scale(.9,.9); /* Safari and Chrome */
    -moz-transform:scale(.9,.9); /* Firefox */
    -ms-transform:scale(.9,.9); /* IE 9 */
    -o-transform:scale(.9,.9); /* Opera */
    font-weight: 600;
    font-size: 3.3rem;
    color: var(--primary-grey-darker);
    padding-top: .8rem;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.2rem;
  }
.breakpoint-phone .hero {
  width: 94%;
}
  .breakpoint-phone .hero__logo {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .breakpoint-phone .hero__slogan {
    font-size: 3.3rem;
    line-height: 4rem;
    text-align: left;
  }
    .breakpoint-phone .hero__slogan span {
      font-size: 3rem;
      line-height: 4rem;
    }
/*.breakpoint-tablet .hero*/
  .breakpoint-tablet .hero__logo {
    margin-bottom: -1rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
/*.breakpoint-desktop-up .hero*/
  .breakpoint-desktop-up .hero__logo-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    padding-top: 1rem;
  }
    .breakpoint-desktop-up .hero__logo {
      margin-left: -38rem;
      margin-right: 0;
      width: 120rem;
      max-width: 60rem;
      height: auto;
      margin-top: 2rem;
    }
  .breakpoint-desktop-up .hero__hidden {
    display: inline;
    font-size: 7rem;
    font-family: var(--font-logotype)
  }
  .breakpoint-desktop-up .hero__slogan {
    display: inline-block;
    font-size: 5rem;
    line-height: 5.5rem;
    margin-bottom: 0;
    margin-left: 3rem;
    margin-right: 0;
    max-width: 60%;
    vertical-align: middle;
  }

/*Body text defaults*/

p {
  font-size: 2rem;
  line-height: 1.45;
  margin-bottom: 2rem;
}

p:last-child {
  margin-bottom: 0;
}


li {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 1rem;
  margin-left: 4rem;
}

li:last-child {
  margin-bottom: 2rem;
}

.square-list {
  list-style-type: square;
}

.breakpoint-desktop-up p {
  font-size: 2.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
  font-size: 3.4rem;
  font-family: var(--font-heading);
  margin-bottom: 1.5rem;
}

h2 {
  color: var(--primary-grey-darker);
  font-family: var(--font-subheading);
  font-size: 2rem;
  letter-spacing: .35rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.breakpoint-desktop-up h2 {
  font-size: 3rem;
  letter-spacing: .4rem;
}
.breakpoint-desktop-up h1 {
  font-size: 4rem;
}
strong {
  font-weight: bold;
}
.t-list {
  list-style-type: disc;
  font-size: 2rem;
  line-height: 1.45;
  margin-bottom: 2rem;
}
.t-list li {
  margin-bottom: 1rem;
}
.t-small-caps {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.swash {
  font-family: var(--font-logotype)
}

/*BODY TEXT*/

.body-inner-wrapper__section {
  margin-bottom: 6rem;
}

.body-inner-wrapper__subtitle {
  color: var(--text-color);
  font-family: var(--font-subtitle);
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
}

/*BUTTON*/
.button {
  background-color: var(--primary-contrast);
  color: #fff;
  padding: 1rem 4rem;
  display: inline-block;
  font-family: var(--font-subheading);
  font-variant: small-caps;
  font-size: 1.6em;
  letter-spacing: 0.15em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .3s ease;
  box-shadow: 0rem 0.2rem .7rem var(--primary-grey);
  border-radius: 3px;
}
  .button__text {
    align-content: center;
    color: white;
    display: flex;
    font-family: var(--font-body);
    font-size: 2rem;
    justify-content: center;
    line-height: 5rem;
  }
  .button--with-spacing {
    margin-top: 3.2rem;
    margin-bottom: 1.8rem;
  }
.breakpoint-phone .button {
  font-size: 1.6rem;
  margin-top: -1rem;
}

/* Sponsorship section */

.c-sponsor-group {
  margin-bottom: 6rem;
}
.breakpoint-phone .c-sponsor-group {
  margin-bottom: 2rem;
}

.c-sponsor-level__name {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 4rem;
}
  .breakpoint-phone .c-sponsor-level__name {
    margin-bottom: 3rem;
  }

.c-sponsor {
}
  .breakpoint-phone .c-sponsor {
    margin-bottom: 4rem;
  }

.c-sponsor__name {
  font-family: var(--font-subtitle);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.c-sponsor__description {
}
  .c-sponsor__description p {
    font-size: 1.8rem;
    line-height: 1.3;
  }

.c-sponsor__logo {
  height: 10rem;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100px;
  margin-bottom: 3rem;
}
  .breakpoint-phone .c-sponsor__logo {
    height: 7.5rem;
    width: auto;
    max-width: 30rem;
    margin-bottom: 2rem;
  }
  .c-sponsor__logo img {
    max-width: 100%;
    max-height: 100%;
  }

.c-responsive-map {
    max-width: 85rem;
    position: relative;
    padding-bottom: 55%;
    height: 0;
    overflow: hidden;
}
.c-responsive-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.h-lots-of-padding-top {
  padding-top: 3rem;
}

/* Talks, Speakers & Workshops  */

.c-talk-list,
.c-speaker-list,
.c-workshop-list {
}

.c-speaker:nth-child(odd),
.c-workshop:nth-child(odd) {
  clear:left;
}

.c-speaker {
  margin-bottom: 6rem;
}
  .breakpoint-phone .c-speaker {
    margin-bottom: 4rem;
  }

.c-workshop {
  margin-bottom: 3rem;
}

.c-speaker__avatar {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  max-width: 16rem;
}
  .breakpoint-phone .c-speaker__avatar {
    max-width: 14rem;
  }

.c-speaker__avatar--small {
  border-radius: 50%;
  max-width: 6rem;
  position: absolute;
  right: 0;
  top: 0.5rem;
}
.breakpoint-phone .c-speaker__avatar--small {
  max-width: 6rem;
}

.c-speaker__talk-title,
.c-workshop__title {
  font-family: var(--font-heading);
  color: var(--primary-color);
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

c-workshop__detail {
  margin-bottom: 2rem;
}

p.c-speaker__name,
p.c-workshop__detail {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.c-workshop__detail span {
  color: var(--primary-grey-darker);
  font-weight: bold;
  margin-right: 1rem;
}

.c-speaker__bio p,
.c-talk__abstract p,
.c-workshop__description p,
.c-workshop__presenter-bio p,
.c-workshop__detail p {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.c-workshop__description {
  margin-bottom: 3rem;
}
.c-workshop__presenter-details {
  position: relative;
  padding-right: 8rem;
  margin-bottom: 3rem;
}

.c-presenter__title {
  color: var(--primary-grey-darker);
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  display: block;
}

.c-workshop__presenter-details {
}

.c-workshop__presenter-bio p {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 0;
}

/* Basic CSS grid */

/* margin right - negative right margin to allow for last col's gutter */
.grid {
  margin-right: -3rem;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}

/* setting col widths */
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}

[class*='col-'] {
  float: left;
}

/* on phones stack all columns */
.breakpoint-phone [class*='col-'] {
  width: 100%;
}

/* setting gutter size - must match margin right on grid above */
[class*='col-'] {
  padding-right: 3rem;
}

/* Price table */

.c-price-list {
  padding-top: 3rem;
}

.c-price-list__item {
}
  .breakpoint-phone .c-price-list__item {
    margin-bottom: 4rem;
  }

.c-price-list__type {
  color: var(--primary-grey-darker);
  display: block;
  border-bottom: 2px solid #DDD;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

p.c-price-list__description {
  font-size: 1.8rem;
  line-height: 1.3;
}

.c-price-list__rate {
  margin-bottom: 2rem;
  display: block;
  position: relative;
  padding-right: 7rem;
}
.c-price-list__rate p {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 0;
}
.c-price-list__rate:last-child {
  margin-bottom: 0;
}

.c-price-list__rate--inactive {
  color: rgba(0,0,0,0.4);
}
.c-price-list__rate--sold-out,
.c-price-list__rate--sold-out span {
  text-decoration: line-through;
  color: rgba(0,0,0,0.4);
}

.c-price-list__price {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: bold;
  display: block;
  color: var(--primary-grey-darker);
  position: absolute;
  right: 0;
  bottom: 0;
}

.c-price-list__action-section {
  padding-top: 1rem;
}

.c-price-list__action-section p {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 0;
}

.c-price-list__action {
  background-color: var(--primary-contrast);
  border-radius: 4px;
  color: white;
  padding: 1rem 1.5rem;
  display: inline-block;
  transition: background 0.2s linear;
}
  .c-price-list__action:hover {
    background-color: var(--primary-contrast-darker);
  }

  .c-price-list__action--inactive {
    background-color: #FFF;
    color: var(--primary-grey-darker);
    border:1px solid #DDD;
    font-weight: normal;
    opacity: 0.5;
  }

  .c-price-list__action--inactive:hover {
    background-color: #FFF;
  }
